<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card class="article__highlight"
      Id="1"
      photoCover="./assets/images/big-card-img.jpg"
      cardTitle="Desconstrução"
      cardPhotoInfo="Texto de Carina Magalhães"
      cardDescription="Talvez o mais importante no nosso processo evolutivo para alcance da plenitude seja a Desconstrução. Passamos a vida internalizando conceitos, regras, padrões, agindo dentro de uma programação mental e de repente nos vemos diante de uma situação inusitada, que requer um novo olhar, nova conduta, nova percepção e descobrimos que de tudo já vivido e aprendido, nada se aplica ao novo momento. Não há mais parâmetros. Nada do que você conhece como solução se encaixa. É como na música: Nada do que fui me veste agora. A alma se desnudou e logo precisará de novas vestes. Nos habituamos a seguir padrões sobre
       o que deve ser feito, dito, sentido, como devemos reagir, o que é aceitável ou não e às vezes só depois de andarmos em círculos por muito tempo,
       dando voltas e mais voltas e passando sempre pelo mesmo local é que conseguimos pensar na possibilidade (ou criar coragem) de cortar o círculo,
       perceber a maleabilidade do limite, traçar novos caminhos, expandir e perceber que o círculo passou a ser uma linha reta e finalmente estamos
        livres para percorrermos novos caminhos. Desconstrução para a  Libertação! Agora é preciso aprender a andar por este caminho novo e estar aberto
        às suas novas possibilidades. Para desconstruir precisamos ampliar nossa capacidade de compreensão e só conseguimos fazer isso legitimamente com
        amorosidade. É preciso olhar além da razão e do que é aparentemente inconcebível e se livrar do medo do julgamento. Sim, porque há quem julgue
        tolo aquele que tem uma compreensão diferenciada. Mas eles não sabem que alcançar uma compreensão profunda leva à aceitação. E aceitar que as
        coisas podem acontecer de uma forma diferente do que idealizamos ou dentro de um tempo diferente do que definimos, nos coloca dentro de um
        Equilíbrio perfeito e nos aproxima da paz! Não é simples e nem fácil alcançar este entendimento. O processo quase sempre é doloroso e longo, mas
        dizem que só alcança o propósito quem se permite vivenciar o processo em todas as suas nuances. O proceso de desconstrução amplia as percepções,
         eleva o nível consciencial e nos faz reconhecer que viver tudo diferente do que desejávamos pode ser libertador. Experimente!"
      >
    </app-big-card>


  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Arte de Rua"
      photoCover="./assets/images/ArteDeRua-arvore.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Filmes e Séries"
      photoCover="./assets/images/filmesSeries-home.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Livros"
      photoCover="./assets/images/livros-home.jpg"
    >
    </app-small-card>
    <app-small-card
      Id="5"
      cardTitle="Reflexões"
      photoCover="./assets/images/reflexoes-home.jpg"
    >
  </app-small-card>
  </div>
</div>
