<div class="container__menu-bar">
  <div>
    <div class="container__lista">
      <ul>
        <li><a href="https://www.linkedin.com/in/apoena-avelar-53641357" target="_blank">Linkedin</a></li>
        <li><span>•</span></li>
        <li><a href="https://github.com/ApoenaAvelar" target="_blank">Github</a></li>
        <li><span>•</span></li>
        <li><a href="https://wa.me/5571981827438" target="_blank">WhatsApp</a></li>
    </ul>
    </div>
    <div class="container__icone">
      <a [routerLink]="['']"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBXugjVf0X_4ddnsSudWf6RR6Kt0jH5trm-A&usqp=CAU"
      alt="Home"></a>
    </div>
  </div>
</div>
